{% extends 'base.html' %}
{# Bloco menu vazio = página SEM menu #}
{% block menu %}{% endblock %}

{% block conteudo %}
<div class="cartao p-4 p-md-5 mx-auto" style="max-width: 420px">
  <h1 class="logo h2">✦ SoundRoom</h1>
  <p class="suave mb-4">Your music, your space.</p>
  <form method="post">
    <label class="form-label">E-mail</label>
    <input type="email" name="email" class="form-control mb-3" required>
    <label class="form-label">Senha</label>
    <input type="password" name="senha" class="form-control mb-4" required>
    <button class="btn btn-lilas w-100">Entrar</button>
  </form>
</div>
{% endblock %}
