{% extends 'base.html' %} {% block conteudo %}
<h2 class="mb-4">Cadastro de Usuários</h2>

{# Formulário: method="post" envia para a mesma rota (/usuarios) #}
<form method="post" class="cartao p-4 mb-5 row g-3">
  <div class="col-md-6">
    <label class="form-label">Nome</label
    ><input name="nome" class="form-control" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">E-mail</label
    ><input type="email" name="email" class="form-control" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">CPF</label
    ><input name="cpf" class="form-control" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">Telefone</label
    ><input name="telefone" class="form-control" required />
  </div>
  <div class="col-12"><button class="btn btn-lilas px-4">Salvar</button></div>
</form>

{# Tabela: o for repete uma linha para cada usuário da lista #}
<div class="cartao overflow-hidden">
  <table class="table tabela m-0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
      <tr>
        <td>{{ u.nome }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.cpf }}</td>
        <td>{{ u.telefone }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4" class="suave">Nenhum usuário cadastrado ainda.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
